body{
    margin: 0px;
    height: 100vh;
    overflow-y: hidden;
}

.wrapper{
    width:auto;
    height:100%;
    background: linear-gradient(135deg, rgb(31, 34, 97), rgb(61, 130, 240));
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 40 auto;
    color: white;
}

.tabs{
    display: flex;
    flex-direction: row;
    gap: 180px;
    width: fit-content;
    font-size: medium;
}

.tab1{
    background: rgba(255, 255, 255, 0.441);
    border: none;
    border-radius: 10px;
    color: white;
    word-wrap: break-word;
    padding: 4px 7px;
}

.tab2{
    /* background: rgba(255, 255, 255, 0.441); */
    background: none;
    border: none;
    border-radius: 10px;
    color: white;
    word-wrap: break-word;
    padding: 4px 7px;
}

.btn{
    background: rgba(255, 255, 255, 0.441);
    border: none;
    border-radius: 10px;
    color: white;
    word-wrap: break-word;
    padding: 4px 7px;
}
.search{
    background: rgba(255, 255, 255, 0.233);
    border-radius: 10px;
    border: none;
}

.infocontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
.loading{

}
.grant-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
}

.form-container{
    justify-content: center;
    display: flex;
    gap: 30px;
    padding: 20px;
}

.input{
    background: rgba(255, 255, 255, 0.594);
    border: none;
    border-radius: 10px;
    color: white;
    width: 300px;
    padding: 5px;
}

.display-output{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.parameter-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    padding: 5%;
}

.parameter{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5%;
    width: 200px;
    height: auto;
    padding: 2%;
    background-color: rgba(255, 255, 255, 0.523);
}

p{
    color: white;
}